<!DOCTYPE html>
<html>

<head>
  <title>Berry is Gay</title>
  <link rel="stylesheet" href="stylesheet.css">
  <%- include('partials/imageHeader.ejs') %>
  <%- include('partials/berryChanger.ejs') %>
</head>

<body>
  <div id="box">
    <% for (const img of images) { %>
      <div>
        <h2><%= img.name %></h2>
        <a href="/<%- img.fileName %>">
          <% if (img.type==='video' ) { %>
            <video controls width="200"><source src="/api/cdn/<%- img.fileName %>"></video>
          <% } else { %>
            <img src="/api/cdn/<%- img.fileName %>" width="200"></img>
          <% } %>
        </a>
      </div>
    <% } %>
  </div>
</body>

</html>